body {
    background: grey;
}
#presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#imgTim {
    border-radius:50%;
    border: 4px solid grey;
    border-image-width: 4px;
}
.presentation-Tim {
    height: 600px;
    text-align: center;
}
 .presentation-Tim > h1 {
    color: red;
}
.presentation-Tim > p {
    text-justify: auto;
}
.boutonTim {
    background-color: red;
}
#social-res {
    list-style-type: none;
    height: 100px;
 }
ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
li {
    margin: 5px;
    text-align: center;
  }
.list-favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
 }  
#favorites {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.image {
    width: 220px;
    height: auto;
    max-width: 100%;
}
.texte {
    text-align: baseline;
    height: 320px;
    width: 280px;
    margin: 20px;
}
.film {
    display: flex;
    flex-direction: row;
    width: 580px;
} 
.fiche-format {
    background-color: white;
    width: 700px;
    box-shadow: 5px 5px 5px black; 
    margin: 5px;
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 100;
}
  

